.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .styled-table {
    font-size: 0.8em;
  }

  .styled-table thead {
    display: none;
  }

  .styled-table tr {
    display: block;
    margin-bottom: 10px;
  }

  .styled-table td {
    display: block;
    text-align: right;
    font-size: 0.8em;
    border-bottom: 1px solid #dddddd;
    position: relative;
    padding-left: 50%;
  }

  .styled-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

/* Адаптивные стили для диаграмм */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  flex: 1 1 45%;
  margin: 10px;
  min-width: 300px;
}

@media (max-width: 768px) {
  .chart {
    flex: 1 1 100%;
    min-width: 100%;
  }
}
